body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    z-index: 1;
}

div#information, div#enterName, div#winner, div#loser, div#rank {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #ffffff;
    border: 3px solid cadetblue;
}

body div#information, div#rank{
    width: 600px;
    height: 400px;
    margin-left: -300px;
    margin-top: -200px;
    padding-left: 50px;
}

body div#information h1, div#rank h1{
    text-align: center;
    text-decoration: underline;
    color: cadetblue;
}

body div#information label#close, body div#rank label#close{
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: crimson;
    color: floralwhite;
    float: right;
    text-align: center;
    vertical-align: middle;
}

body div#enterName {
    width: 250px;
    height: 200px;
    text-align: center;
    margin-top: -100px;
    margin-left: -125px;
}

body div#enterName input#name {
    padding: 3px;
    margin-bottom: 10px;
}

body div#winner, div#loser{
    width: 250px;
    height: 180px;
    text-align: center;
    margin-left: -125px;
    margin-top: -90px;
}

body div#winner h1, div#loser h1{
    text-decoration: underline;
    color: cadetblue;
}

body div#winner button#btnWinner, div#loser button#btnLoser{
    margin-top: 10px;
}
    
body div#rank h1{
    margin-top: 5px; 
}

body div#rank table#bestScore{
    border-spacing: 0px;
    margin-top: -5px;
}

body div#rank table#bestScore td.title{
    background: gainsboro;
    font-weight: bold;
    padding: 5px;
}

body div#rank table#bestScore td.name, td.local, td.date, td.point{
    padding: 5px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

body div#rank table#bestScore td.name{
    border-left: none;
}

body div#load {
    width: 100%;
    height: 100%;
    background-color: rgba(132, 132, 132, .5);
    position: absolute;
    z-index: 999;
}

header, section, footer {
    width: 100%;
    position: relative;
    text-align: center;
}

header {
    height: 10%;
}

header div#score {
    width: auto;
    margin: auto;
    color: gold;
    text-align: left;
    display: inline-block;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
}

header div#score h1 {
    font-size: 20px;
    margin-top: -10px;
}

header div#score h2 {
    font-size: 12px;
}

header button#start{
    float: left;
    margin: 15px auto auto 15px;
}

header p {
    float: left;
    font-weight: bold;
    color: rgb(8, 173, 123);
    margin: 12px auto auto 10px;
}

header button#btnInfo{
    float: right;
    margin: 15px 15px auto auto;
}

section {
    height: 80%;
    background: #000000;
}

footer {
    text-align: center;
}
