div#game, div#game table {
    width: 100%;
    height: 100%;
}

div#game table {
    border-spacing: 0;
    margin: auto;
}

div#game table tr,
div#game table td {
    padding: 0;
    margin: 0;
}

div#game table td {
    width: 30px;
    height: 28px;
}

div#game table td.field {
    background: #ddd;
}

div#game table div.corpo,
div#game table div#food {
    width: 26px;
    height: 26px;
    margin: auto;
    border: 1px solid #000;
}

div#game table div#food {
    border-radius: 15px;
}

div#game table td.wall {  
    width: 26px;
    height: 26px;
    background: #BA8700;
    border: 1px solid #000;
}